<!--https://getbootstrap.com/docs/4.4/getting-started/introduction/-->

<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'portfolio/custom.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  </head>
  <body>
  <nav id="topNav" class="navbar navbar-expand-md bg-primary">
      <div class="container">
              {% if showBlog %}
                 <a role="button" href="{% url 'blog:all_blogs' %}" class="btn btn-primary">Blogs</a>
              {% else %}
                 <a role="button" href="{% url 'home' %}" class="btn btn-primary">Portfolio</a>
              {% endif %}
              <a role="button" href="https://www.linkedin.com" class="btn btn-primary" target="_blank">LinkedIn</a>
              <a role="button" href="https://twitter.com" class="btn btn-primary" target="_blank">Twitter</a>
      </div>
  </nav>
  <div class="container">
      {% block content %}{% endblock %}
  </div>

  </body>
</html>


