<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% load static %}
    <h1>My portfolio</h1>
    <a href="{% static 'portfolio/eats.pdf' %}">Resume</a>
    <img src="{% static 'portfolio/Hydrangeas.jpg'%}" title="photo" style="width: 300px; height: 300px;">
    {% for project in projects %}
       <h2>{{project.title}}</h2>
          {{project.description}}
       <img src="{{project.image.url}}" height=40 width=40>
    {% if project.url %}
       <br><a href="{{project.url}}">link</a>
    {% endif %}

    {% endfor %}
</body>
</html>