
{% extends 'portfolio/base.html' %}

{% block content %}
      {% load static %}
            <style>
               .title{
                 color:#0dd3c19e;
               }
               .img,.title,.intresting_news{
                  text-align:center;
               }
               .intresting_news{
               color:#f15003c2
               }
               div{
                 margin: 0 10px;
               }
               .news-title{
                 background-color:#1376072b
               }
               .link-news:hover{
                  color:red;
               }
            </style>
                  <div class="headfolio">
                         <h1 class="title">My portfolio</h1>
                         <a href="{% static 'portfolio/rez.pdf' %}" target="_blank" >link to resume</a>
                  </div>
                  <div class="img">
                         <img src="{% static 'portfolio/man_960_720.jpg'%}" title="photo" style="width: 50%; height: 50%;">
                  </div>
                  <div>
                    <h3 class="intresting_news"> Intresting news</h3>
                  </div>
                        {% for project in projects %}
                    <div class="news">
                         <h2 class="news-title">{{project.title}}</h2>
                              {{project.description}}
                              {% if project.image %}
                              <img src="{{project.image.url}}" height=40 width=40>
                              {% endif %}
                              {% if project.url %}
                              <br><a href="{{project.url}}" class="link-news" target="_blank">link</a>
                        {% endif %}
                    </div>
                       {% endfor %}
{% endblock %}

