
{% extends 'portfolio/base.html' %}

{% block content %}
      {% load static %}
      <h1>My portfolio</h1>

      <img src="{% static 'portfolio/man_960_720.jpg'%}" title="photo" style="width: 400px; height: 400px;">
      <br>
      <a href="{% static 'portfolio/rez.pdf' %}">Resume</a>
      <h2><a href="{% url 'blog:all_blogs'%}">Blogs</a></h2>
      {% for project in projects %}
      <h2>{{project.title}}</h2>
      {{project.description}}
      {% if project.image %}
      <img src="{{project.image.url}}" height=40 width=40>
      {% endif %}
      {% if project.url %}
      <br><a href="{{project.url}}">link</a>
      {% endif %}

      {% endfor %}
{% endblock %}

